/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML Styles */
html {
    scroll-behavior: smooth;
}

/* Body Styles */
body {
    font-family: ui-sans-serif, system-ui, sans-serif;
    line-height: 1.5;
}

/* Remove list styles */
ul {
    list-style: none;
}

/* Remove link underline */
a {
    text-decoration: none;
}

/* Full width container */
.container {
    width: 100%;
}

/* Pointer cursor */
.pointer {
    cursor: pointer;
}

/* list styles */
.list-disc {
    list-style-type: disc;
}

/* img styles */
.object-cover {
    object-fit: cover;
}

.object-center {
    object-position: center;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}


/* Reset form elements */
button,
input,
optgroup,
select,
textarea {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.glass-card {
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}