:root {
    --radius: .75em;
}

/* --- Border Widths --- */
.border-0 {
    border-width: 0;
}

.border {
    border-width: 1px
}

.border-x {
    border-width: 0 1px 0 1px;
}

.border-y {
  border-width: 1px 0 1px 0;
}

.border-b {
    border-width: 0 0 1px 0
}

.border-l {
    border-width: 0 0 0 1px 
}

.border-r {
    border-width: 0 1px 0 0
}

.border-t {
    border-width: 1px 0 0 0
}

/* --- Border Styles --- */
.border-solid {
    border-style: solid;
}

.border-dashed {
    border-style: dashed;
}

.border-dotted {
    border-style: dotted;
}

.border-double {
    border-style: double;
}

.border-none {
    border-style: none;
}

/* --- Border Radius --- */
.rounded-none {
    border-radius: 0;
}

.rounded-sm {
    border-radius: calc(var(--radius) - 4px);
}

.rounded-md {
    border-radius: calc(var(--radius) - 2px);
}

.rounded-lg {
    border-radius: var(--radius);
}

.rounded-xl {
    border-radius: calc(var(--radius) + 2px);
}

.rounded-2xl {
    border-radius: calc(var(--radius) + 4px);
}

.rounded-3xl {
    border-radius: calc(var(--radius) + 6px);
}

.rounded-full {
    border-radius: 9999px;
}

/* --- Box Shadows --- */
.shadow-sm {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.shadow-xl {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.shadow-2xl {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hover\:shadow-md:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.hover\:shadow-2xl:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.shadow-inner {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.shadow-none {
    box-shadow: none;
}

/* --- Outline --- */
.outline-none {
    outline: none;
}

.outline {
    outline: 1px solid black;
}

.outline-2 {
    outline: 2px solid black;
}