/* Small Screen */
@media screen and (min-width: 640px) {}

/* Medium Screen */
@media screen and (min-width: 768px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header nav>*+* {
        margin-left: 2rem;
    }

    .mobile-menu {
        display: none;
    }

    #mobile-navigation {
        display: none;
    }
    
    
}


/* Large Screen */
@media screen and (min-width: 1024px) {}

/* Extra Large Screen */
@media screen and (min-width: 1280px) {}

/* Extra Extra Large Screen */
@media screen and (min-width: 1536px) {}

/* Custom Screen */
@media screen and (max-width:767px) {
    header nav {
        display: none;
    }

    header .menu {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

}