/* Small Screen */
@media screen and (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    #hero h1 {
        font-size: 3rem;
    }

    #cta-buttons {
        flex-direction: row;
    }

    #services-title,
    #rating-title {
        font-size: 2.25rem;
    }

    #testimonials-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    } 
    .emergency{
        flex-direction: row;
      }

}

/* Medium Screen */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    #hero {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    #hero h1 {
        font-size: 3.75rem;
    }

    #hero-cards-container,
    #testimonials-cards-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    #desktop-nav,
    #sign-in,
    #sign-up {
        display: flex;
    }

    #menu-button {
        display: none;
    }

    #mobile-nav {
        display: none;
    }

    #footer-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Large Screen */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    #desktop-nav {
        gap: 32px;
    }

    #services-cards-container,
    #rating-cards-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    } 
    .input-container {
        flex-direction: row;
      }
}

/* Large Screen */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    #services-cards-container,
    #footer-content {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

/* Extra Large Screen */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

}

/* Extra Extra Large Screen */
@media screen and (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

/* Custom Screen */
@media screen and (max-width: 768px) {}