/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML Styles */
html {
  scroll-behavior: smooth;
}

/* Body Styles */
body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  line-height: 1.6;
}

/* List Reset */
ul {
  list-style-type: none;
}

/* Anchor Reset */
a {
  text-decoration: none;
}

/* Container Utility */
.container {
  width: 100%;
}

/* Pointer Cursor Utility */
.pointer {
  cursor: pointer;
}

/* Header Positioning */
header {
  top: 0;
  left: 0;
  right: 0;
}

/* Mobile Navigation Positioning */
#mobile-nav {
  top: 100%;
  left: 0;
  right: 0;
}

.search-input {
  transition: outline 0.2s, ring 0.2s;
  /* focus animation */
}

.search-input::placeholder {
  color: #6b7280
}

.search-input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6, 0 0 0 4px #e0f2fe;
  /* Blue-500 for --ring, Light Blue-100 for --ring-offset-background */
}

.search-input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.min-h-screen {
  min-height: 100vh
}

[data-lucide="search"] {
  left: 0.75rem;/* 12px, adjust if needed for spacing */
  top: 50%;
  transform: translateY(-50%);/* Vertically center the icon */
}
