/* Header positioning */
header {
  top: 0;
  left: 0;
  right: 0;
}

/* Mobile navigation positioning */
#mobile-nav {
  top: 100%;
  left: 0;
  right: 0;
}

/* Hero background gradient */
#hero {
  background: linear-gradient(to bottom right, #e0f2f1, #eff6ff);
}

/* Service card hover effect */
.service-card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

/* Service link hover arrow effect */
.service-link:hover .right-arrow {
  transform: translateX(0.25rem);
}

input::placeholder {
  color: #6b7280;
}

[data-lucide="search"] {
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.hospital-card-wrapper:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}

.hospital-stars {
  background-color: #fefce8;
}

.bed-icon {
  background-color: #dcfce7;
  color: #41b76c;
}

.textarea-no-resize-x {
  resize: vertical;
  overflow-x: hidden;
}

#emergency {
  top: 16px;
  left: 16px;
}
.doctor-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
