/* Header positioning */
header {
  top: 0;
  left: 0;
  right: 0;
}

/* Mobile navigation positioning */
#mobile-nav {
  top: 100%;
  left: 0;
  right: 0;
}

/* Service card hover effect */
.service-card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

/* Service link hover arrow effect */
.service-link:hover .right-arrow {
  transform: translateX(0.25rem);
}

input::placeholder {
  color: #6b7280;
}

[data-lucide="search"] {
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.hospital-card-wrapper:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}

.hospital-stars {
  background-color: #fefce8;
}

.bed-icon {
  background-color: #dcfce7;
  color: #41b76c;
}

.emergency-badge {
  top: 16px;
  left: 16px;
}

.doctor-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#about {
  background: linear-gradient(to bottom, #f9fafb, #ffffff);
}

#about-trust {
  bottom: -2rem;
  left: -2rem;
}

#about-image:hover {
  transform: scale(1.05);
}

.leadership__leader {
  background: linear-gradient(to bottom right, #ffffff, #E0F2F1);
}

.leadership__leader:hover .leadership__leader-name {
  color: rgb(0, 121, 107);
}

.leadership__leader-image:hover {
  transform: scale(1.05);
}

#background-overlay {
  background: linear-gradient(to bottom right, #00897B, #00695C);
}

#background-overlay-image {
  background-image: url('https://images.unsplash.com/photo-1527613426441-4da17471b66d?q=80&w=2070&auto=format&fit=crop');
}

#leadership-cta:hover svg {
  transform: translateX(0.25rem);
}

.resize-none {
  resize: none;
}

#hero-image {
  background-image: url('https://images.unsplash.com/photo-1631217868264-e5b90bb7e133?q=80&w=2091&auto=format&fit=crop');
}

#hero-background {
  background: linear-gradient(to right, rgb(0 105 92 / .9), rgb(30 58 138 / .7))
}

.drop-shadow-md {
  filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.1));
}

.drop-shadow {
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}