/* Colors */
:root {
  --background-color: #fcfdfc;
  --foreground-color: #0f172c;
  --primary-color: #00a69c;
  --primary-foreground-color: #ffffff;
  --secondary-color: #b5ddee;
  --secondary-foreground-color: #254157;
  --muted-color: #f1f7f6;
  --muted-foreground-color: #64748b;
  --accent-color: #e5f9f7;
  --destructive-color: #f04440;
  --destructive-foreground-color: #f8fafc;
  --border-color: #e6f0ee;
  --input-color: #d9e6e3;

  --medical-50: #e0f2f1;
  --medical-100: #b2dfdb;
  --medical-200: #80cbc4;
  --medical-300: #4db6ac;
  --medical-400: #26a69a;
  --medical-500: #009688;
  --medical-600: #00897b;
  --medical-700: #00796b;
  --medical-800: #00695c;
  --medical-900: #004d40;

  --sidebar-background: #fafafa;
  --sidebar-foreground: #424245;
  --sidebar-primary: #1a1a1d;
  --sidebar-accent: #f5f5f7;
  --sidebar-border: #e8e7ed;
}

/* Global Style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 0 4em;
}

/* Header Section */

/* Hero Section */

/* Services Section */
