/* =============================
   Hover Effects
   ============================= */
.service-card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.service-link:hover .right-arrow {
  transform: translateX(0.25rem);
}

.hospital-card-wrapper:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}

.doctor-card-wrapper:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#about-image:hover,
.leadership__leader-image:hover,
.hover-scale:hover {
  transform: scale(1.05);
}

#leadership-cta:hover svg {
  transform: translateX(0.25rem);
}

.quick-links-dashboard:hover span {
  color: rgb(0, 150, 136);
}

/* =============================
   Backgrounds
   ============================= */
#about {
  background: linear-gradient(to bottom, #f9fafb, #ffffff);
}

#background-overlay {
  background: linear-gradient(to bottom right, #00897b, #00695c);
}

#background-overlay-image {
  background-image: url("https://images.unsplash.com/photo-1527613426441-4da17471b66d?q=80&w=2070&auto=format&fit=crop");
}

#hero-image {
  background-image: url("https://images.unsplash.com/photo-1504439468489-c8920d796a29?q=80&w=2071&auto=format&fit=crop");
}

#hero-background {
  background: linear-gradient(to right,
      rgba(0, 105, 92, 0.9),
      rgb(30 58 138 / 0.7));
}

.bg-mediconnect-gray {
  background-image: linear-gradient(to bottom, #b2e3dd, #f9fafb);
}

.bg-mediconnect-white {
  background-image: linear-gradient(to bottom, #b2e3dd, #ffffff);
}

#coming-soon section {
  background-image: linear-gradient(#e6f5f4b3, #ffffffe6);
}

/* =============================
   Cards & Components Styling
   ============================= */
.hospital-stars {
  background-color: #fefce8;
}

.bed-icon {
  background-color: #dcfce7;
  color: #41b76c;
}

.emergency-badge {
  top: 16px;
  left: 16px;
}

.leadership__leader {
  background: linear-gradient(to bottom right, #ffffff, #e0f2f1);
}

.leadership__leader:hover .leadership__leader-name {
  color: rgb(0, 121, 107);
}

/* =============================
   Profile Image Hover
   ============================= */
#new-image-profile:hover {
  border-color: rgb(38, 166, 154);
}

/* =============================
   Trust Icon in About Section
   ============================= */
#about-trust {
  bottom: -2rem;
  left: -2rem;
}